/* App.css */


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-color: #172842;
  font-family: 'Inter', sans-serif; 
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}